<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/list.css">
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <%- include('_header'); %>
    <%- body %>
   
    <%-script%>
</html>